@using ProjectMew.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="m-form">
        <div>
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="row m-header-row">
                        <div class="col-md-12">@ViewBag.Title</div>
                    </div>

                    <div class="row">
                        @*@Html.AntiForgeryToken()*@
                        @Html.ValidationSummary(true, "", new { @class = "text-danger m-error" })
                        <div class="form-group col-md-5">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label m-label" })
                        </div>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control m-textbox" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger m-error" })
                        </div>
                    </div>
                    <div class="row m-margin-bottom">
                        <div class="form-group col-md-5">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label m-label" })
                        </div>
                        <div class="col-md-7">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control m-password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger m-error" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" id="m-submit">
                            <div class="col-md-offset-5 col-md-7">
                                <input type="submit" value="Login" class="btn btn-default m-btn" />
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <div class="facebook-register">
                            <div class="m-inline-block">@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })</div>
                            <div class="m-register">@Html.ActionLink("Register", "Register")</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}